

/* fallback */
@font-face {
  font-family: 'Material Icons';
  src: url($material-icons + '.eot');
  src: url($material-icons + '.eot?#iefix') format('embedded-opentype'),
      url($material-icons + '.woff2') format('woff2'),
      url($material-icons + '.woff') format('woff'),
      url($material-icons + '.ttf') format('truetype'),
      url($material-icons + '.svg#MaterialIcons-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';

  &.green {
    color: $green-color;
  }
  &.red {
    color: $red-color;
  }
  &.yellow {
    color: $yellow-color;
  }
  
  &.success {
    color: #45af4d;
  }
  &.error {
    color: $error-color;
  }
  &.disabled {
    color: #dcdcdc;
    
  }
}