ul {
    padding-left: 0;
    list-style-type: none;
    li {
        list-style-type: none;
    }
}

.list-form {
    position: relative;

    &.loading {
        &:before, &:after {
            top: 150px;
        }
    }
}
.list-table {
    width: 100%;            
    th {
        padding: 3px;
        text-align: left;
        padding-top: 10px;
        background: $teal-color;
    }
    @include tablet-and-down{
        display: block; 
        overflow: auto;
        tbody, thead {
            display: table; 

        }
    }
}
#list-actions { 

    .button {
        margin-left: 5px;
    }
}
.list-filters {
    // background: white;
    z-index: 1;
    .field {     
        > label {
            display: inline-block;            
            background: #e6e6e6;
            border-radius: 5px 5px 10px 0px;
            padding: 3px 10px 3px 0px;
            white-space: nowrap;
            color: #616161;
        }
    }
    td, th { 
        padding: 0px 3px;
    }

    td:first-child, th:first-child {
        padding-left: 0px;
    }
    td:last-child, th:last-child {
        padding-right: 0px;
    }
}


.list-head-cell, .list-cell {
    padding: 3px;
    &.list-head-cell {
        text-align: left;
    }
    &.nowrap {
        white-space: nowrap;
    }

    &.green {
        color: $success-color;
    }
    &.red {
        color: $error-color;
    }
    .icon {
        vertical-align: sub;
        font-size: inherit;
    }
    &.bold {
        font-weight: bold;
    }
}

.list-head {
    @extend .list-row;
    // position: sticky !important;
    // top: 64px;
    background: white;
    z-index: 1;
   
    .pagination {
        margin:0px;
        padding:5px 0px;
    }
    .field {
        bottom: -4px;
        top: auto;
    }
}

.list-row {
    border-bottom: 1px solid #e8e8e8;
    background: white;
    position: relative;
    font-size: 13px;
    cursor: pointer;
    @include tr(box-shadow .25s);
    &:hover {
        @include bs(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
    }

    &:last-child {
        td {
            padding-bottom: 10px;
        }
    }
    // th {
    //     padding-top: 10px;
    //     background: $secondary-color;
    // }

    td:first-child, th:first-child {
        padding-left: 10px;
    }
    td:last-child, th:last-child {
        padding-right: 10px;
    }

    &.current {
        background: $yellow-color;
        border-bottom-color: $yellow-color;
    }

    > td.actions-box > .actions {
        white-space: nowrap;
    }
    &:hover {
        background: $highlight-color;
        border-bottom-color: $highlight-color;
        > td.actions-box > .actions {
            opacity: 1;
            visibility: visible;
        }
    }

    > .actions {
        top: 16px;
        top: 13px;
    }
}

.list-results {
    
    @include bs1();
    // min-height: 500px;
    .pagination {
        @include bs1();
        position: fixed;
        z-index: 10;
        bottom: 0px;
        right: 0px;
        background: white;
        margin: 0px;
        padding: 5px;
    }
}