global-exclude *.py[cod] __pycache__ *.so .project .pydevproject
include README.rst
include AUTHORS.txt
include LICENSE.txt
include autocommit.py
include manage.py
include Makefile
recursive-include docs *
recursive-include workon *
recursive-include workon/static *
recursive-include workon/templates *