<div class="{{ field.classes }}">
    {% load workon %}
    {% include "workon/forms/fields/__label.html" %}
    {% include 'workon/forms/fields/__help_and_errors.html' %}
    {% if field|is_checkbox_select_multiple %}
        <div class="{{ classes.value }}">
            {% for choice in field %}
                  <p>
                    {{ choice.tag }}
                    <label for="{{ choice.auto_id }}">{{ choice.choice_label }}</label>
                  </p>
            {% endfor %}
        </div>

    {% else %}
        {{ field }}
    {% endif %}

</div>