
/dist
git-post-receive
venv
.env
build
eggs
parts
bin
var
sdist
develop-eggs
.sass-cache/
lib64
src/
local/
bin/
opt/
docs/
__pycache__

*.sublime-workspace
*.py[cod]
*.log
*.pot
*.project
*.py~
*.pid
*.swp
*.swo
*.so
*.psd
*.egg
*.egg-info
*.mo
*.dump
*.rdb
*.db
*.coverage
*.tox
*.jshintrc
*.jshintignore
.installed.cfg
celerybeat-schedule
dump.rdb
backup-*.sql
htmlcov
coverage.xml
nosetests.xml
violations.txt
pip-log.txt
